form {
  display: flex;
  flex-direction: column;
  padding: 55px 95px;
  background: white;
  border-radius: 35px;
  margin: 0 auto;
  height: max-content;
  width: 25%;
}

.input {
  &__label {
    display: flex;
    position: relative;
    flex-direction: column;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 20px;
  }

  &__input {
    background-color: #F3F3F3;
    border-radius: 15px;
    border: none;
    padding: 16px 13px;
    margin-top: 5px;
    color: #CC9696;
    text-decoration: underline;
  }

  &__err {
    color: red;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    position: absolute;
    bottom: -20px;
  }
}

.register-btn {
  margin: 0 auto;
  text-decoration: underline;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: black;
  cursor: pointer;
}

.submit-btn {
  cursor: pointer;
  background: #2D9CDB;
  border-radius: 15px;
  border: none;
  padding: 16px 0;
  margin: 20px auto 10px;
  width: 40%;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: white;
}

.err {
  color: red;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}

#authorization-div {
  width: 100%;
}

.tl-img, .tr-img, .bl-img, .br-img {
  position: absolute;
}

.tl-img {
  top: 10px;
  left: 10px;
}

.tr-img {
  top: 10px;
  right: 10px;
}

.bl-img {
  bottom: 82px;
  left: 59px;
}

.br-img {
  bottom: 10px;
  right: 10px;
}